html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header{
    width:100%;
    


    background: #FDF1EB;
}
footer{
    background-color: #725C5C;
    display: inline;
  float: right;
}

#root{
    display:grid;
    height: 100%;
    width: 100%;
    grid-template-areas: 
    "sidebar header"
       "sidebar main";
    grid-template-columns: 18% 82%;
    grid-template-rows: 10% auto;
}

.aside{
    grid-area: sidebar;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    height: 100%;
   
}

.aside__img{
    width: 100%;
}

.aside__title{
    margin: 0px;
    padding: 20px;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.aside__ul{
    padding:0;
    margin:0;
    width: 100%;
    list-style-type: none;
}

.aside__button{
    border-bottom: solid  #E7E7E7 2px;
    padding: 7px 24px ;
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
}

.aside__button--selected{
     background: #FDF1EB;
     position: relative;
}

.aside__button--selected::before{
    content: "";
    position: absolute;
    left:0;
     
    top:0;
    bottom: 0;
    width: 6px;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
}

.header__tittle{
    font-family: 'Roboto';
    color: #725C5C;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.header__tittle2{
    font-family: 'Roboto';
    color: #725C5C;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}
.header__pt{  
    align-items: center;
    width: 90px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.header__img{
    margin-right: 3px;
    width: 27px;
    height: 26px;
}

.header__img2{
    margin-left: 4px;
    width: 8px;
    height: 8px;
}
.header__acount{
    margin: 0;
    font-family: 'Quicksand';
}
.header__acount--img{
   border-radius: 100%;
}

