html, body {
    
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header{
    width:100%;
    
   

    background: #FDF1EB;
}
.border{
    border: 1px solid #E7E7E7;

}
.header { 
    height: 88%;
    background: #FDF1EB;
    display: flex;
}
.header__body{
    margin-left: 40px;
    margin-right: 40px;
}
footer{
    margin-left: -40px;
 
    margin-top: 40px;
}
main{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    
}

.content{
    margin: 0 3em;
}

#root{
    display:grid;
    height: 100%;
    width: 100%;
    grid-template-areas: 
    "sidebar header"
       "sidebar main";
    grid-template-columns: 18% 82%;
    grid-template-rows: auto auto;
}

.aside{
    grid-area: sidebar;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    height: 100%;
 
}   

.aside__img{
    width: 100%;
}

.aside__title{
    margin: 0px;
    padding: 20px;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.aside__ul{
    padding:0;
    margin:0;
    width: 100%;
    list-style-type: none;
}

.aside__button{
    border-bottom: solid  #E7E7E7 2px;
    padding: 7px 24px ;
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
}

.aside__button--selected{
     background: #FDF1EB;
     position: relative;
}

.aside__button--selected::before{
    content: "";
    position: absolute;
    left:0;
     
    top:0;
    bottom: 0;
    width: 6px;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
}

.header__tittle{
    margin-top: 0px;
    font-family: 'Roboto';
    color: #725C5C;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
}

.header__tittle1{
    margin-top: -20px;
    font-family: 'Roboto';
    color: #725C5C;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
}
.header__tittle2{
    margin-top: -20px;
    font-family: 'Roboto';
    color: #725C5C;
    font-weight: 600;
    font-size: 17px;
    line-height: 26px;
}
.header__pt{  
 
    align-items: center;
    width: 100px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    height: 40px;
    display: flex;
    flex-direction: row;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
.header__pt--position{
    display: flex;
    align-items: center;
}
.header__img{
    margin-right: 3px;
    width: 27px;
    height: 26px;
}

.header__acount--p1{
    font-size: 20px;
    text-align: right;
}
.header__acount--p2{
    margin-top: -20px;
}
.header__img2{
    margin-left: 4px;
    width: 8px;
    height: 8px;
}
.header__acount{
  
    align-items: center;
    margin-left: 80px;
    display: flex;
    flex-direction: row;
    font-family: 'Quicksand';
}

 

.header__acount--img{    
     
    border-radius: 100%;
    width: 40px;
    margin-left: 10px;
}
 
.main__p{
    grid-area: text;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    line-height: 25px;
    margin:  0 20px;
    letter-spacing: 0.05em;

    color: #ED7839;
}
.main__side{ 
    
    display:flex;
    flex-direction: row;
   
}
.main__sidediv{
     
    font-family: 'Roboto';
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
}
.main__sidediv--button{
    
    height: 30px;
    width: 70px;
    margin-left: 4px;
    padding: auto;    
    background: #ED7839;
    border-radius: 4px;
}
.main__sidediv--button1{

    height: 30px;
    display: flex;
    flex-direction: row;
    padding-right: 7px;
    margin-left: 3px;
    padding: auto;    
    background: #ED7839;
    border-radius: 4px;
}
.main__sidediv--img{
    padding: 7px;
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}
.main__sidediv--p1{
    font-weight: 500;
    margin-top: 6px;
}
.main__sidediv--p{
    
    flex-direction: row;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #ED7839;
}

.main__main{
    display: flex;

    justify-content: space-between;
}

.main__main--img{
    background: rgba(141, 53, 6, 0.5);
    border-radius: 3px;
     
    width: 70%;
   
}

.main__main--details{
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
    width: 25%;
    
}

.main__main--header{
    background: #FDF1EB;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
    height: 12%;
    display: flex;
    align-items: center;
}
.main__main--tittle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height, or 125% */
    margin-left: 8px;
    display: flex;
    align-items: center;

    color: #4E4E4E;
}

.main__main--detailsBody{
    margin-left: 8px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */

    letter-spacing: 0.02em;
    
    color: #5C5C5C;
}

.main__main--detailsBodyP{
    margin-top: -4px;
}

.main__main--detailsBodyDown{
    margin-top: 40px;
}

.main__main--detailsBodyDownP{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    /* or 14px */
    margin-top: 4px;
    letter-spacing: 0.02em;
    color: #5C5C5C;
}

.main__main--detailsBodyDownB{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    /* or 14px */
    margin-top: 4px;
    letter-spacing: 0.02em;
    color: #5C5C5C;
}
.main__main--detailsBodyDownFooter{
    margin-top: 35px;
    font-size: 10px;
}

.main__resume{
     
     margin-top: 30px;
    
}

.main__resume--header{
    display: flex;
    align-items: center;
    height: 50px;
    background: #FDF1EB;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
}
.main__resume--headerTittle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    margin-left: 9px ;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height, or 125% */
    color: #4E4E4E;
}

.main__resume--content{
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
}

.main__resume--contentP{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.02em;
   
    color: #5C5C5C;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-left: 8px;
    margin-right: 8px;
}

.main__resume--contentPMo{
    color:  #ED7839;
    font-weight: 500;
}
.main__resume--form{
    
    height: auto;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}
.main__resume--formP{
    margin: 30px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */

    text-align: center;

    color: #5C5C5C;
    align-self: center;
}

.main__resume--formLabel{
    margin-left: 11px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    margin-top: 15px;
    color: #ED7839;
}

.main__resume--formInput{
    margin-right: 10px;
    margin-left: 10px;
    padding: 15px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
}

.main__resume--formInput2{
    margin-left: 10px;
    margin-right: 10px;
    padding: 40px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
}

.main__resume--formInputicons{
    margin-left: 10px;
    width: 95%;
     
    padding: 6px;
    background: #EAF1F2;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 0px 0px 4px 4px;
}

.main__resume--formInputicon{
    width: 20px;
    height: 20px;
    margin-left: 25px;
    
}

.main__resume--formInputButton{
    width: 30%;
    margin-right: 10px;
    background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    /* identical to box height, or 107% */

    text-align: center;
     
    color: #FFFFFF;border-radius: 0px 0px 4px 0px;

}

.main__resume__inputI{
    display:flex;
    flex-direction: row;
}

.main__resume--coments{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}
.main__resume--comentsP{
    margin-top: 4px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    margin-left: 10px;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #5C5C5C;
}

.main__resume--comentsP2{
    margin-top: 0px;
    margin-left: 10px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: #4D4D4D;
}

.main__resume--comentsI{
    margin-top: -10px;
    display: flex;
    flex-direction: row;
}

.main__resume--comentsStatus{
    margin-left: 13px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: #757575;
}
.main__resume--buttonI{
    margin-left: 10px;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.main__resume--button1{
  
    margin-top: 1px;
}

.main__resume--button{
    margin-left: 13px;
    margin-right: 1px;
    align-self: center;
    padding-left:6px;
    padding-right:6px;
    height: 16px;
    width: 10px;
    background: #ED7839;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
}